{% extends 'base.html' %}

{% block title %}Classes{% endblock %}

{% block heading %}Our Classes{% endblock %}

{% block content %}
  <h2>Music</h2>
  <ul>
    <li>Piano Lessons</li>
    <li>Guitar Lessons</li>
    <li>Vocal Training</li>
  </ul>
  
  <h2>Art</h2>
  <ul>
    <li>Drawing Classes</li>
    <li>Painting Classes</li>
    <li>Sculpture Classes</li>
  </ul>
  
  <h2>Sports</h2>
  <ul>
    <li>Basketball Team</li>
    <li>Soccer Team</li>
    <li>Track & Field Team</li>
  </ul>
  
  <h2>Academic</h2>
  <ul>
    <li>Math Tutoring</li>
    <li>Science Labs</li>
    <li>Reading & Writing Workshops</li>
  </ul>
{% endblock %}
