{% extends 'base.html' %}

{% block title %}Lessons{% endblock %}

{% block heading %}Our Lessons{% endblock %}

{% block content %}
  <h2>Music Lessons</h2>
  <ul>
    <li>Piano - Beginner, Intermediate, Advanced</li>
    <li>Guitar - Beginner, Intermediate, Advanced</li>
    <li>Voice - Beginner, Intermediate, Advanced</li>
  </ul>
  
  <h2>Art Lessons</h2>
  <ul>
    <li>Drawing - Beginner, Intermediate, Advanced</li>
    <li>Painting - Beginner, Intermediate, Advanced</li>
    <li>Sculpture - Beginner, Intermediate, Advanced</li>
  </ul>
  
  <h2>Sports Lessons</h2>
  <ul>
    <li>Basketball - Beginner, Intermediate, Advanced</li>
    <li>Soccer - Beginner, Intermediate, Advanced</li>
    <li>Track & Field - Beginner, Intermediate, Advanced</li>
  </ul>
  
  <h2>Academic Lessons</h2>
  <ul>
    <li>Math - Beginner, Intermediate, Advanced</li>
    <li>Science - Beginner, Intermediate, Advanced</li>
    <li>Reading & Writing - Beginner, Intermediate, Advanced</li>
  </ul>
{% endblock %}
